@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --main-black: #000000;
  --main-title: white;
  --sub-title: #c6f68d;
  --headers-green: #c6f68d;
  --links: #c6f68d;
}

*{ 
  font-family: 'Roboto', sans-serif;
  background: black;
}

body{
  margin: 0;
}

main{
  margin: 0px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100vw;
  background-color: var(--main-black);
  padding: 8px;
}

.nav-list {
  display: flex;
  list-style:none;
  margin:1vh;
  padding-right:25px;
}

a{
  text-decoration: none;
}

p{
  color: var(--links);
}

.projects:hover{
  border: solid;
  border-color: var(--sub-title);
}

.section-headers{
  text-align: center;
  color: white;
  font-size: 24px;
}

ul{
 margin: 0;
 padding: 0;
 display: flex;
}

li{
  margin: 0 2vw;
  font-size: 3vh;
}

img{
  width:100%;
  height: 400px;
}

.projects-container{
  display: flex;
  text-align: center;
}

.projects-container > div{
  margin: auto;
}

.projects-1 {
 flex: 1;
 order: 2;
}

.projects-2 {
 flex: 1;
 order: 1;
}

.projects-3 {
 flex: 1;
 order: 3;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color:white;
  background: var(--main-black);
}

.welcome-section > h1 {
  font-size: 3vh;
  color: white;
}

.welcome-section > p {
  font-size: 4vh;
  color: var(--sub-title);
}


footer{
margin-right: 18px;
text-align: right;
}

@media (max-width: 600px) {

  #nav{
    flex-direction:column;
    display:flex;
  }
  
  li{
    margin: 1vw;
  }

  .projects-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.nav-list a:hover {
  color:red;
}
