body {
  text-align: center;
  color: #fff;
  background-color: black;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

h1,
h3,
strong {
  color: #c6f68d;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  filter: saturate(0.4);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section {
  font-size: 1em;
  line-height: 26px;
  text-align: justify;
  text-justify: inter-word;
}
