body {
  text-align: center;
  color: #FFF;
  margin-top:10px;
  background-color: black;
}

form{
  width: 60%;
  margin: auto;
  padding: 5px; 
}

.user-data{
  display: inline-block;
  text-align: left;
}

p{
  width: 80%;
  margin: auto;
}

h1, h2{
  color: #c6f68d;
  text-align: center;
  text-transform: capitalize;
}

ul li {
  display: inline-block;
  padding: 12px;
  font-size: 18px;
  transition: 0.2s;
}

li:hover {
  color: #1DB954;
}

textarea{
  width: 80%;
}