body {
  text-align: center;
  color: #FFF;
  margin-top:10px;
  background-color: black;
}

form{
}

p{
  padding: 10px;
  text-align: center;
}

h1, h2{
  color: #c6f68d;
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 12px;
  font-size: 18px;
  transition: 0.2s;
}

li:hover {
  color: #1DB954;
}
