:root {
	--main-background: #000000;
	--headers: #c6f68d;
	--links-hover: #c6f68d;
	--texts: white;
	--boxes: linear-gradient(to left, #c6f68d, #266e32);
}

* {
	font-family: 'Architects Daughter', cursive, 'Roboto', sans-serif;
	background-color: var(--main-background);
	color: var(--texts);
	text-decoration: none;
	list-style: none;
}

main {
	width: 50%;
	margin: 30px auto;
	text-align: center;
}

#nav-bar {
	width: 100%;
	margin: 0;
	position: fixed;
	top: 0px;
	text-transform: capitalize;
	font-size: 1.3em;
	z-index: 2;
	transition: top 0.6s;
}

.nav-ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 80px;
	padding-right: 80px;
}

.nav-link {
	padding-left: 2%;
}

#header-img {
	height: 60px;
	padding-left: 3%;
}

a:hover {
	color: var(--links-hover);
}

ul {
	padding: 0;
}

h1 {
	color: var(--headers);
}

p {
	text-align: center;
	font-size: 1.3em;
}

#about-us {
	padding-top: 10vh;
	margin: auto;
}

.services-container {
	display: flex;
	justify-content: center;
}

.service {
	border: 10px solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: var(--boxes);
	margin: 5%;
}

.service ul {
	width: 20vw;
}

.service:hover {
	border-image-source: linear-gradient(#a1ec44, #703b09);
	cursor: pointer;
}

.service:hover li {
	color: var(--links-hover);
}

.service:active {
	border-image-source: linear-gradient(to left, #f68da7, #6e2626);
}

iframe {
	width: 100%;
	height: 350px;
}

@media (max-width: 600px) {
	main {
		width: 100%;
		position: absolute;
		top: 30%;
	}
	.nav-ul {
		display: block;
		text-align: center;
	}
	.nav-link {
		padding-left: 0;
		margin-top: 10px;
	}
	.services-container {
		flex-direction: column;
	}
	.service ul {
		margin: 20px auto;
	}
}