header{
	padding: 16px;
	font: bold;
	font-size: 26px;
}

body{
	position: absolute;
	margin-left: 310px;
	margin-bottom: 110px;
}

main{
	position:fixed,3;
	height: 100%;
	width:100%;
}

#main-doc {
	
}

section article {
	color: #4d4e53;
	margin: 15px;
	font-size: 0.96em;
}

ul{
	list-style: none;
}

li{
	padding: 8px;
}

code {
	display: block;
	text-align: left;
	background-color: #f7f7f7;
	padding: 15px;
	margin: 10px;
}

#navbar {
	background-color: #f7f7f7;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
}

#navbar ul{
	height: 88%;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

#navbar a {
	cursor: pointer;
}

#navbar li {
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px groove;
	list-style: none;
}

@media (max-width: 600px) {

	#navbar{
		position: relative;
	}

	#main-doc {
		margin-left: 0px;
		padding: 5px;
		margin-bottom: 10px;
	}

	body{
		position: initial;
		margin-left: 10px;
		margin-bottom: 110px;
	}
}

