@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
	--main-black: #000000;
	--main-title: white;
	--sub-title: #c6f68d;
	--headers-green: #c6f68d;
	--links: red;
	--text: white;
}

* {
	font-family: 'Roboto', sans-serif;
	background: black;
	color: white;
}

body {
	margin: 0;
}

html, body {
	height: 100%;
}

main {
	margin: 0px;
}

.nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	width: 100vw;
	background-color: var(--main-black);
	padding: 8px;
	z-index: 10;
}

#navbar {
	top: 0px;
	left: 0px;
}

.nav-list {
	display: flex;
	list-style: none;
	margin: 1vh;
	padding-right: 25px;
}

#welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: var(--main-black);
}

.welcome-section>h1 {
	font-size: 7vh;
}

.welcome-section>h1 {
	font-size: 2em;
	text-transform: uppercase;
	color: var(--headers-green);
}

span {
	border-right: .05em solid;
	animation: caret 1s steps(1) infinite;
}

@keyframes caret {
	50% {
		border-color: transparent;
	}
}

#projects-section {
	color: var(--headers-green);
}

.section-headers {
	text-align: center;
	color: var(--headers-green);
	font-size: 24px;
	margin-left: 25%;
	margin-right: 25%;
	border-bottom: 0.1rem solid;
}

a {
	text-decoration: none;
	color: green;
}

a:hover {
	color: var(--links);
}

p {
	color: var(--text);
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
}

li {
	margin: 0 2vw;
	font-size: 3vh;
}

img {
	width: 100%;
	height: 400px;
}

i {
	color: white;
	margin: 8px;
}

.projects-container {
	display: flex;
	text-align: center;
}

.projects-container>div {
	margin: auto;
	padding: 48px;
}

.projects-1 {
	flex: 1;
	order: 1;
}

.projects-2 {
	flex: 1;
	order: 2;
}

.projects-3 {
	flex: 1;
	order: 3;
}

.project-project-title:hover {
	webkit-filter: blur(4px);
	/* Chrome, Safari, Opera */
	filter: blur(3px);
	font-size: 20px;
}

#contact {
	text-align: center;
	color: green;
}

.contact-header {
	color: var(--headers-green);
}

.contact-container {
	margin-left: 30%;
	margin-right: 30%;
	display: flex;
}

.links {
	flex: 1;
	order: 1;
}

.links:hover {
	color: var(--links-red);
	font-size: 20px;
}

footer {
	text-align: right;
	font-weight: 300px;
	margin-top: 20px;
	padding: 2rem;
	background: var(--main-gray);
	border-top: 4px solid var(--headers-green);
}

@media (max-width: 600px) {
	#navbar {
		flex-direction: column;
		align-items: center;
	}
	ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	li {
		margin: 1vw;
	}
	.projects-container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.contact-container {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	footer {
		text-align: center;
	}
}