@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--main-black: #000000;
	--main-title: white;
	--sub-title: #c6f68d;
	--headers-green: #c6f68d;
	--links: red;
	--text: white;
}

*{ 
	font-family: 'Roboto', sans-serif;
	background: black;
	color: white;
}

body{
	margin: 0px;
}

main{
	margin: 0px;
}

.nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	width: 100vw;
	background-color: var(--main-black);
	padding: 8px;
	z-index: 10;
}

.nav-list {
	display: flex;
	list-style:none;
	margin:1vh;
	padding-right:25px;
}


#welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: var(--main-black);
}

.welcome-section > h1 {
	font-size: 7vh;
}

.typewrite {
	font-size: 5vh;
	color: var(--sub-title);
	text-align: center;
}

#projects-section{
	background-color: blue;
}

#contact{
	align-content: center;
}

.section-headers{
	text-align: center;
	color: var(--headers-green);
	font-size: 24px;
	margin-left:25%;
	margin-right:25%;
	border-bottom: 0.1rem solid;
}

.contact-header{
	text-align: center;
	color: var(--headers-green);
}

a{
	text-decoration: none;
	color: green;
}

a:hover{
	color: var(--links);
}

.link-footer{
	float: right;
}

p{
	color: var(--text);
}

ul{
	margin: 0;
	padding: 0;
	display: flex;
}

li{
	margin: 0 2vw;
	font-size: 3vh;
}

img{
	width:100%;
	height: 400px;
}

i{
	color: white;
	margin: 8px;
}

i:hover{
	color: red;
	margin: 8px;
}

.contact-section{
	color: green;
}

.projects-container{
	display: flex;
	text-align: center;
}

.projects-container > div{
	margin: auto;
	padding: 48px;
}

.projects-1 {
	flex: 1;
	order: 1;
}

.projects-2 {
	flex: 1;
	order: 2;
}

.projects-3 {
	flex: 1;
	order: 3;
}

.projects:hover{
	webkit-filter: blur(4px); /* Chrome, Safari, Opera */
	filter: blur(3px);
}

.contact-links {
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
}

#profile-links:hover {
	color: var(--links);
}

.contact-header{
	margin-bottom: 48px;
}

#profile-link{
	color:white;
	margin:24px;
}

footer{
	font-weight: 300px;
	display: flex;
	margin-top: 20px;
	padding: 2rem;
	background: var(--main-gray);
	border-top: 4px solid var(--headers-green);
}

@media (max-width: 600px) {

	#nav{
		flex-direction:column;
		display:flex;
	}
	
	li{
		margin: 1vw;
	}

	.projects-container{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

.nav-list a:hover {
	color: var(--links);
}
