@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
	--customGreen: #c6f68d;
	--customGray: #121212;
	--customWhite: rgb(252, 252, 252);
	--customRed: rgb(27, 14, 1);
	--gradientLeft: linear-gradient( to left, #121212, black, var(--customRed));
	--gradientHover: linear-gradient(#a1ec44, #703b09);
	--gradientActive: linear-gradient(to left, #f68da7, #6e2626);
	--main-background: linear-gradient( 45deg, #121212, black, var(--customRed));
}

* {
	font-family: 'Roboto', sans-serif;
	color: var(--customWhite);
	list-style: none;
	text-decoration: none;
}

body {
	margin: 0;
	background: var(--main-background);
}

#navbar {
	position: fixed;
	display: flex;
	justify-content: flex-end;
	top: 0px;
	margin: 0;
	padding: 25px 0;
	width: 100%;
	z-index: 1;
	background: inherit;
}

#nav-list {
	display: flex;
	justify-content: space-between;
}

#nav-list li {
	margin: 0 2vw;
	font-size: 1.3em;
}

#nav-list a:hover {
	text-decoration-line: underline;
	color: var(--customGreen);
}

ul {
	margin: 0;
	padding: 0;
}

main {
	position: relative;
	bottom: 40px;
	margin: 0 5%;
	text-align: center;
}

#welcome-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#welcome-section>h1 {
	font-size: 2em;
	text-transform: uppercase;
	color: var(--customGreen);
}

section {
	margin: 30px 0;
}

.headers {
	color: var(--customGreen);
	font-size: 1.4em;
	border-bottom: 0.1em solid;
	margin: 30px 0 20px 0;
	text-align: left;
}

p {
	font-size: 1em;
	line-height: 1.8;
	text-align: justify;
	color: var(--text);
}

.projects-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.projects-container a {
	color: var(--customGreen);
	margin: 20px;
	border: 10px solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: var(--customRed);
	width: 300px;
	height: 200px;
	display: flex;
	justify-content: center;
}

.projects-container ul {
	height: 100px;
	line-height: 170%;
	white-space: nowrap;
}

.projects-container a:hover {
	border-image-source: var(--gradientHover);
	cursor: pointer;
}

.projects-container a:active {
	border-image-source: var(--gradientActive);
}

.project-tile {
	font-size: 1.3em;
}

#project {
	order: 3;
}

#project2 {
	order: 2;
}

#project3 {
	order: 1;
}

.contact-container {
	font-size: 1.2em;
}

#contacts a {
	margin: 20px;
}

#contacts a:hover {
	color: var(--customGreen);
}

footer p {
	position: relative;
	text-align: right;
}

footer a {
	color: var(--customGreen);
}

@media (max-width: 600px) {
	#nav-list {
		display: block;
		margin: auto;
	}
	#nav-list li {
		padding: 10px 0 0 0;
	}
	.contact-container {
		display: grid;
		margin-top: 20px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 40px 40px;
	}
	footer p {
		text-align: center;
	}
}